<a href="https://colab.research.google.com/github/avi2nati/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/warmup%5CCopy_of_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## load a csv from the following url:

#### https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/

In [0]:
# A good practice is to keep your import statements to the top of your
# notebooks

import pandas as pd

In [0]:
# One thing you should begin practicing early is commenting your code!

# Another good practice is to use descriptive variable names

url = ("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original")


url = pd.read_csv(url)

In [5]:
# now print the first 5 rows of the data you just loaded
url.head()

  18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"
0  15.0   8.   350.0      165.0      3693.      1...
1  18.0   8.   318.0      150.0      3436.      1...
2  16.0   8.   304.0      150.0      3433.      1...
3  17.0   8.   302.0      140.0      3449.      1...
4  15.0   8.   429.0      198.0      4341.      1...

In [6]:
# and the last 7
url.tail(-7)

    18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"
7    14.0   8.   455.0      225.0      4425.      1...
8    15.0   8.   390.0      190.0      3850.       ...
9    NA     4.   133.0      115.0      3090.      1...
10   NA     8.   350.0      165.0      4142.      1...
11   NA     8.   351.0      153.0      4034.      1...
..                                                 ...
400  27.0   4.   140.0      86.00      2790.      1...
401  44.0   4.   97.00      52.00      2130.      2...
402  32.0   4.   135.0      84.00      2295.      1...
403  28.0   4.   120.0      79.00      2625.      1...
404  31.0   4.   119.0      82.00      2720.      1...

[398 rows x 1 columns]

In [10]:
# how many rows are in the dataset?
total_rows = url.count
print(total_rows)

<bound method DataFrame.count of     18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"
0    15.0   8.   350.0      165.0      3693.      1...
1    18.0   8.   318.0      150.0      3436.      1...
2    16.0   8.   304.0      150.0      3433.      1...
3    17.0   8.   302.0      140.0      3449.      1...
4    15.0   8.   429.0      198.0      4341.      1...
..                                                 ...
400  27.0   4.   140.0      86.00      2790.      1...
401  44.0   4.   97.00      52.00      2130.      2...
402  32.0   4.   135.0      84.00      2295.      1...
403  28.0   4.   120.0      79.00      2625.      1...
404  31.0   4.   119.0      82.00      2720.      1...

[405 rows x 1 columns]>

In [24]:
# how many columns
Num_cols = len(url.columns)
print(url.columns)

Index(['18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"'], dtype='object')

In [7]:
# what is the shape of the dataset
print(url.shape)

(405, 1)

### From the data directory load the iris dataset

## Make a basic graph using either of the above data sources when you're finished post the graph in the ds17 channel on slack

## Save a copy of your notebook to GitHub and submit a pull request to this repository